.app-details {
  display: table;
}

.app-details .row {
  display: table-row;
}

.app-details .row div {
  display: table-cell;
}

.app-details .row div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-details .row div ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  border-right: 2px solid #666;
}

.app-details .row div ul li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.app-details .row div:nth-child(odd) {
  padding: 0 5px 0 0;
  font-weight: bolder;
}

.app-details .row div:nth-child(even) {
  padding: 0 0 0 5px;
}

.g16-print-css {
  background: #dedede;
  border: 1px solid #666;
  border-radius: 3px;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu ul li {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #666;
}

.footer-menu ul li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
